*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

 .alert{
    background-color: rgb(85, 81, 255);
    color: white;
    font-size: 18px;  
 }
 a{
     color: white;
 }
 img{
     width: 3rem;
 }
 .container-fluid{
     display: flex;
     justify-content: space-between;

 }
 .nav-item a{
     color: rgb(36, 36, 36);
     font-weight: bold;
     font-size: 18px;
     margin: 5px;

     
 }
 
 svg{
     margin:5px ;
 }

 .card{
     display: flex;
     flex-direction: column;
     justify-content: center;
     border: none;
     

 }

 .card img{
     width: 100%;
 
 }

 .first-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 #parent{
     width: 80vw;
     margin: auto;
 }
.wrap{
    display: flex;
}

 .second-container{
     width: 40vw;
     margin: auto;
 }
 
 .card2 img{
     width: 100%;
 }

.third-container{
    width: 40vw;
    margin-right: 1rem;
}
.second-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.third-container:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}







